
:root {
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #11191f;
    --form-element-border-color: #374956;
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --primary-inverse: #fff;
    --h1-color: #edf0f3;
    --line-height: 1.5;
    --font-weight: 400;
    --font-size: 16px;
    --border-radius: 0.25rem;
    --border-width: 1px;
    --outline-width: 3px;
    --spacing: 1rem;
    --primary: #1095c1;
    --primary-hover: #1ab3e6;
    --primary-focus: 
    --color: #bbc6ce;
    tab-size: 4;
    color: var(--primary-inverse);
}


nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

html > body > main {
    width: 90%;
}

html > body > header > nav  > form *{
    padding: 5px !important;
    margin: 5px !important;
}
header > nav > a {
    align-items: center;
}
header > nav > form {
    display: flex;
    flex-direction: row;
}
html > body > header {
    padding: 0px;
    margin: 0px;
}

button {
    color: var(--primary-inverse);
    width: 100%;
    border-color: var(--primary);
    box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
    font-weight: var(--font-weight);
    font-size: 1rem;
    line-height: var(--line-height);
    text-align: center;
    cursor: pointer;
}

input {
    color: var(--primary-inverse);
    --border-color: var(--form-element-border-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    font-size: 1rem;
    line-height: var(--line-height);
    font-family: inherit;
    letter-spacing: inherit;
}

a {
    color: var(--primary);
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    --typography-spacing-vertical: 3rem;
    font-weight: 700;
    color: var(--h1-color);
}

form {
    display: flex;
    font-weight: var(--font-weight);
    flex-direction: column;
}

form > * {
    margin: 5px;
}