h1 #{doc['head']}
p Document id: #{doc['id']}
p Docuemnt last edited: #{doc['date']}
p #{doc['body']}
a href="#{doc['source']}" Source: #{doc['source']}
-if cookie_auth(nil, EDIT_DOC_AUTH)
  a href="/docs/#{doc['id']}/edit" Edit
