h1 #{doc['head']}
p Document id: #{doc['id']}
p Docuemnt last edited: #{doc['date']}
p #{doc['body']}
a href="#{doc['source']}" Source: #{doc['source']}
-if show_edit
  div 
    a href="/docs/#{doc['id']}/edit" Edit
